h1 {
    color: red;
    text-align: center;
    font-size: 80px;
}

.center_div{
    margin: 0 auto;
    width: 1000px;
    margin-right: 110px;
}

.critical {
  background-color: red !important;
}

.stable{
  background-color: green !important;
}

.carefull
{
	background-color: yellow !important
}